body {
  margin: 0;
  background: #0b1220;
  color: white;
  font-family: Arial;
}

.container {
  max-width: 400px;
  margin: 80px auto;
  padding: 20px;
  background: #111a2e;
  border-radius: 12px;
}

h1 {
  text-align: center;
}

input, button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

button {
  background: #22c55e;
  color: black;
  font-weight: bold;
}